body,html{
	background-image:url(flor.jpg) no-repeat;

}
body{
	background: linear-gradient(purple);
}
.cuadro{
background: salmon;
width: 55%;
text-align: center;
}
#andresllanos h2{
	color:#FFFFFF;
	text-align: center;
}
