body,html{
	background: url(flor.jpg);
	background-size:cover;
	background-repeat:no repeat;
}
body{
	background: linear-gradient(purple);
}
.cuadro{
background: salmon;
}
#andresllanos h2{
	color:#FFFFFF;
	text-align: center;
}
